/* App móvil - fullscreen */
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Scrollbar oculto en móvil */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
